@keyframes fading {
  0%, 12% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes disparition {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
@font-face {
  font-family: "roboto";
  src: local("Roboto-Thin"), url("../Fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "roboto";
  src: local("Roboto-Light"), url("../Fonts/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "roboto";
  src: local("Roboto-Regular"), url("../Fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "roboto";
  src: local("Roboto-Medium"), url("../Fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Shrikhand";
  src: local("Shrikhand-Regular"), url("../Fonts/Shrikhand-Regular.ttf");
}
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, p, li {
  font-family: "roboto";
}

h2 {
  margin-left: 10px;
}

.loader {
  background-color: rgba(50, 176, 145, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: disparition 0ms 2800ms forwards;
  padding-top: 10vh;
  z-index: 1;
}
.loader img {
  height: 60%;
  animation: loader-spin 1200ms 2 backwards;
  display: block;
  margin: auto;
}
.loader p {
  font-size: 3em;
  text-align: center;
}

.vignette {
  position: relative;
  /*Va permettre de cadrer l'image en absolute*/
  height: 270px;
  display: flex;
}
.vignette__image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: 50% 62%;
}
.vignette__nouveau {
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #99E2D0;
  color: #278870;
  padding: 4px 10px 2px 10px;
  margin: 0px;
  border-radius: 4px;
}
.vignette__nouveau--hidden {
  display: none;
}
.vignette__texte {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background-color: white;
  padding: 1em;
  box-sizing: border-box;
}
.vignette__texte h3, .vignette__texte p {
  margin: 0px;
}
.vignette__texte h3 {
  font-weight: 700;
}
.vignette__texte p {
  font-weight: 200;
}
.vignette__texte img {
  position: absolute;
  right: 40px;
  bottom: 50%;
}
.vignette__texte .like-coeur {
  position: absolute;
  right: 2%;
  top: 15%;
  font-size: 1.5em;
}
.vignette__texte .like-coeur__full {
  transform: scale(0);
  transition: transform 500ms;
  color: #9356DC;
}
.vignette__texte .like-coeur__empty {
  transform: scale(1);
  transition: transform 700ms;
}
.vignette__texte .like-coeur:hover .like-coeur__full {
  transform: scale(1);
}
.vignette__texte .like-coeur:hover .like-coeur__empty {
  transform: scale(0.8);
}
.vignette--banniere-resto {
  margin: 0px;
  height: 330px;
}
.vignette--banniere-resto .vignette__image {
  height: 90%;
}
.vignette--banniere-resto .vignette__texte {
  border-radius: 26px 26px 0px 0px;
}
.vignette--banniere-resto h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
}

body {
  margin: 0px;
}

.rounded-box {
  border-radius: 15px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  margin: 1em 1.5em;
}
.rounded-box--image {
  overflow: hidden;
}

.centered-text-box {
  padding: 0.7em;
  text-align: center;
}

.bouton-action {
  border-radius: 25px;
  background-image: linear-gradient(#FF79DA, #af6fda);
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0.8em;
}
.bouton-action--commande {
  margin: 3em auto 0 auto;
  display: block;
  padding: 1em 3em;
  font-weight: 600;
}
.bouton-action:hover {
  background-image: linear-gradient(#ff83dd, #b477dc);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

footer {
  background-color: #343434;
  color: white;
  padding: 1.1em;
}
footer h2 {
  font-family: "shrikhand", cursive;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 0;
}
footer ul {
  padding: 0;
  list-style: none;
}
footer ul li {
  margin: 0.3em 0;
}
footer ul i {
  width: 30px;
}

.header {
  text-align: center;
  padding: 0;
}
.header__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: auto;
}
.header__arrow-left {
  position: absolute;
  left: 1em;
  top: 1.6em;
}
.header p {
  font-weight: 100;
}

.menu {
  background-color: whitesmoke;
  padding-bottom: 4em;
}
.menu .vignette__texte {
  background-color: whitesmoke;
}

.menu-liste h3 {
  margin: 5px 14px;
  font-family: "roboto";
  font-weight: 100;
  position: relative;
}
.menu-liste h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 2.5em;
  height: 3px;
  background-color: #99E2D0;
}
.menu-liste img {
  width: 2em;
  height: 2px;
  margin: 0 14px;
  position: relative;
  top: -6px;
}
.menu-liste div:nth-of-type(1) {
  animation: fading 1252ms 123ms backwards;
}
.menu-liste div:nth-of-type(2) {
  animation: fading 1341ms 205ms backwards;
}
.menu-liste div:nth-of-type(3) {
  animation: fading 986ms 424ms backwards;
}

.fiche-plat {
  display: flex;
  justify-content: space-between;
  margin: 14px 0.7em;
  background-color: white;
  height: 4em;
}
.fiche-plat__texte {
  padding: 0.4em;
  overflow: hidden;
  width: 90%;
}
.fiche-plat__texte h4, .fiche-plat__texte p {
  margin: 0.3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fiche-plat__texte h4 {
  font-weight: 700;
}
.fiche-plat__texte p {
  font-weight: 200;
}
.fiche-plat__prix {
  padding: 0.5em;
}
.fiche-plat:hover > .fiche-plat__coulisse .fiche-plat__ok {
  width: 55px;
}
.fiche-plat:hover > .fiche-plat__coulisse i {
  transform: translateX(0) rotate(1turn);
}
.fiche-plat__coulisse {
  display: flex;
  background-color: white;
  height: 100%;
}
.fiche-plat__ok {
  background-color: #99E2D0;
  display: flex;
  width: 0px;
  transition: width 600ms;
  text-align: center;
}
.fiche-plat__ok i {
  width: 20px;
  height: 20px;
  color: white;
  transition: transform 400ms ease-out;
  transform: translateX(55px) rotate(0turn);
  margin: auto;
  font-size: 1.4em;
}

@media all and (min-width: 800px) {
  h2 {
    text-align: center;
  }

  .liste-restaurants__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .liste-restaurants__flex .vignette {
    width: 40%;
    height: 400px;
  }

  .vignette--banniere-resto {
    height: 40vh;
    max-width: 1000px;
    margin: auto;
  }

  .menu-liste {
    width: 80%;
    min-width: 400px;
    margin: auto;
  }
}
.presentation-etape {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #f7f7f7;
}
.presentation-etape__numero {
  margin: 0;
  height: 1.3em;
  width: 1.5em;
  padding-top: 0.2em;
  border-radius: 25px;
  position: absolute;
  left: -8px;
  top: 30%;
  background-color: #9356DC;
  color: white;
  text-align: center;
}
.presentation-etape__texte {
  margin-left: 1em;
  font-weight: 500;
}
.presentation-etape i {
  font-size: 1.4em;
  color: gray;
  margin-right: 1em;
}
.presentation-etape--colored {
  background-color: #f2eafb;
}
.presentation-etape--colored i {
  color: #9356DC;
}

.recherche-localisation {
  background-color: #f0f0f0;
}
.recherche-localisation__barre-de-recherche {
  background-color: #e8e8e8;
}
.recherche-localisation__input {
  width: 10em;
  border: none;
  background-color: inherit;
}

/*# sourceMappingURL=style.css.map */
