@keyframes fading {
    0%, 12% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes disparition {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
    }
}