
.recherche-localisation {
    background-color: darken($couleur-neutre, 6%);
    &__barre-de-recherche {
        background-color: darken($couleur-neutre, 9%);
    }
    
    &__input {
        width: 10em;
        border: none;
        background-color: inherit;
    }
}