footer {
    background-color: #343434;
    color: white;
    padding: 1.1em;
    ul {
        padding: 0;
        list-style: none;
        li {
            margin: 0.3em 0;
        }
        i {
            width: 30px;
        }
    }
}