footer {
    background-color: #343434;
    color: $couleur-neutre;
    padding: 1.1em;
    p {
        font-family: "shrikhand", cursive;
        font-weight: 400; 
    }
    ul {
        padding: 0;
        list-style: none;
        li {
            margin: 0.3em 0;
        }
        i {
            width: 30px;
        }
    }
}