.header {
    text-align: center;

    &__title {
        font-family: "Shrikhand", cursive;
        font-weight: 400;
        margin: auto;
    }
    
    &__arrow-left {
        position: absolute;
        left: 1em;
        top: 1.6em;
    }

    p {
        font-weight: 100;
    }
}