.header {
    text-align: center;
    padding: 0;

    &__title {
        font-family: "Shrikhand", cursive;
        font-weight: 400;
        margin: auto;
        &--ombre {
            margin-bottom: 5px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        }
    }
    
    &__arrow-left {
        position: absolute;
        left: 1em;
        top: 1em;
    }

    p {
        font-weight: 100;
    }
}