.loader {
    background-color: adjust-color($couleur-tertiaire, $lightness: -30%, $alpha: -0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: disparition 0ms 2800ms forwards;
    padding-top: 10vh;
    z-index: 1;
    img {
        height: 60%;
        animation: loader-spin 1200ms 2 backwards;
        display: block;
        margin: auto;
    }
    p {
        font-size: 3em;
        text-align: center;
    }
}