.menu {
    background-color: darken($couleur-neutre, 4%);
    padding-bottom: 4em;
    .vignette__texte {
        background-color: darken($couleur-neutre, 4%);
    }
}

.menu-liste {
    h3 {
        margin: 0 14px;
        font-family: "roboto";
        font-weight: 100;
    }
    img {
        width: 2em;
        height: 2px;
        margin: 0 14px;
        position: relative;
        top: -6px;
    }
    div:nth-of-type(1) {
        animation: fading 1252ms 123ms backwards;
    }
    div:nth-of-type(2) {
        animation: fading 1341ms 205ms backwards;
    }
    div:nth-of-type(3) {
        animation: fading 986ms 424ms backwards;
    }
}

.fiche-plat {
    display: flex;
    justify-content: space-between;
    margin: 14px 0.7em;
    background-color: $couleur-neutre;
    position: relative;
    

    &__texte {
        padding: 0.4em;
        margin-right: 30px;
        h4, p {
            margin: 0.3em;
        }

        h4 {
            font-weight: 700;
        }

        p {
            font-weight: 200;
        }
    }

    &__prix {
        padding: 0.5em;
    }

    &:hover > .fiche-plat__coulisse {
        right: 0px;
        i {
            transform: rotate(1turn);
        }
    }

    &__coulisse {
        display: flex;
        position: absolute;
        right: -56px;
        transition: right 400ms;
        background-color: $couleur-neutre;
        height: 100%;
    }

    &__ok {
        background-color: $couleur-tertiaire;
        width: 55px;
        display: flex;
        i {
            width: 20px;
            height: 20px;
            color: $couleur-neutre;
            transition: transform 300ms ease-in;
            transform: rotate(0.5turn);
            margin: auto;
            font-size: 1.4em;
        }
    }
    
}