.menu {
    background-color: darken(white, 4%);
    padding-bottom: 4em;
    .vignette__texte {
        background-color: darken(white, 4%);
    }
}

.menu-liste {
    h3 {
        margin: 0 14px;
        font-family: "roboto";
        font-weight: 100;
    }
    img {
        width: 2em;
        height: 2px;
        margin: 0 14px;
    }
}

.fiche-plat {
    display: flex;
    justify-content: space-between;
    margin: 14px 0.7em;
    background-color: white;

    &__texte {
        padding: 0.4em;
        h4, p {
            margin: 0.3em;
        }

        h4 {
            font-weight: 700;
        }

        p {
            font-weight: 200;
        }
    }

    &__prix {
        align-self: flex-end;
        padding: 0.5em;
    }

    &:hover > .fiche-plat__coulisse {
        right: 0px;
        i {
            transform: rotate(1turn);
        }
    }

    &__coulisse {
        display: flex;
        position: relative;
        right: -56px;
        transition: right 400ms;

    }

    &__ok {
        background-color: $couleur-tertiaire;
        width: 55px;
        text-align: center;
        position: relative;
        height: 100%;
        display: flex;
        i {
            position: absolute;
            right: 40%;
            top: 40%;
            width: 20px;
            height: 20px;
            color: white;
            transition: transform 300ms ease-in;
            transform: rotate(0.5turn);
            margin: auto;
            font-size: 1.4em;
        }
    }
    
}